.content{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
@media only screen and (max-width: 1200px) {
    .content{
        margin-left: 0px !important;
    }
 }
 .updateBtn{
    width: 35%;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    right: 10px;
    background: #efefef;
   /* padding: 0.1em 0.4em; */
   border: none;
   border-radius: .5rem;
   color: #444;
   text-align: center;
   outline: none;
   cursor: pointer;
   transition: .2s ease-in-out;
   box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
               -6px -6px 10px rgba(255, 255, 255, .5),
               6px 6px 8px rgba(255, 255, 255, .075),
               6px 6px 10px rgba(0, 0, 0, .15);
}
.updateBtn:hover{
    background-color: #c0cad8;
}
.editicon{
    width: 23px;
    height: 23px;
}
.btns{
    width: 49%;
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.newBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.boxhome{
    margin: auto;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 80px 40px;
    width:490px;
    min-width: 455px;
    border-radius: 35px;
    background-color: #ecf0f3;
    box-shadow: -8px -8px 8px #feffff, 8px 8px 8px #161b1d2f;
    /* box-shadow: -5px -5px 5px #feffff, 5px 5px 5px #161b1d2f; */
    /* box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff; */
}
.boxhome label{
    font-size: 16px;
    font-weight: 500;
    color:#858686;
}

.close-icon {
    position: absolute;
	padding: 30px 10px 15px 15px;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon-hide{
    display: none;
}
.close-icon:focus{
    outline: none;
}
.close-icon::after {
    content: "X";
    display: block;
    /* display: none; */
    width: 23px;
    height: 24px;
    position: absolute;
    background-color: #C8C8C8;
    z-index: 1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #484848;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
  }
  #pretraga:not(:valid) ~ .close-icon{
	display: none;
}
.clearinput {
    position: absolute;
	padding: 30px 10px 15px 15px;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.clearinput:focus{
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.clearinput::after {
    content: "X";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background-color: #C8C8C8;
    z-index: 1;
    right: 35px;
    bottom: 0;
    top:0px;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #484848;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .clearinputhide{
    display: none;
  }
  #grupa:not(:valid) ~ .clearinput{
	display: none;
}
.close-icon {
    position: absolute;
	padding: 30px 10px 15px 15px;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon:focus{
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.close-icon::after {
    content: "X";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background-color: #C8C8C8;
    z-index: 1;
    right: 35px;
    bottom: 0;
    top:0px;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #484848;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .close-icon-hide{
    display: none;
  }
 

.log{
    width: 50px;
    display: inline-block;
    margin-top: -2%;
    margin-left: 0;
    margin-right: 0;
}
.titleofForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    margin-bottom: 12%;
}
.boxhome .input-box{
    width:100%;
    height: 45px;
    padding-left: 20px;
    border: none;
    color: #494a4a;;
    background-color: #ecf0f3;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff;
        font-size: large;
}
.boxhome .input-box-group{
    width:100%;
    height: 45px;
    padding-left: 20px;
    border: none;
    color: #494a4a;;
    background-color: #ecf0f3;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff;
        font-size: large;
}

#grupa{
    margin-top: 8%;
}
.boxhome .input-search{
    width:100%;
    height: 45px;
    padding-left: 20px;
    border: none;
    color: #494a4a;;
    background-color: #ecf0f3;
    outline: none;
    box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff;
        font-size: large;
}
.boxforUsers{
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
    border: none;
    width: 100%;
    overflow: auto;
    height: 250px;
}
.previewCheckUsers{
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
    border: none;
    width: 100%;
    overflow: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    overflow-y: scroll;
}
.boxhome .input-box::placeholder{
    color:#9ea0a0;
}
.forget{
    /* margin-top:15px;
    margin-left: 5%; */
    width: 49%;
}
.forget .fg a{
    text-decoration: none;
    font-size: 13px;
    color:#8f8c8c;
    line-height: 24px;
}
.input-box{
    margin-bottom: 5%;
}
.forget .fg{
    display: inline-block;
    margin-left: 58%;
    font-size: 12px;
}
.fg{
    margin-left: 30% !important;
}
.forget .fg:hover{
    text-decoration: underline;
    text-decoration-color: #b4b8b8;
}
.forget .checkbox-label{
    display:block;
    position: relative;
    cursor: pointer;
    font-size:22px;
    line-height: 22px;
}
.forget .checkbox-label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 140%;
}

.checkbox-label .checkbox-custom{
    position: absolute;
    top: 5px;
    left: 10px;
    height: 19px;
    width:20px;
    background-color: #ecf0f3;
    border-radius: 5px;
    border: none;
    box-shadow:inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffff;
}
.checkbox-label input:checked ~ .checkbox-custom{
    background-color: #ecf0f3;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform:rotate(0deg) scale(1);
    opacity: 1;
    border:none;
    box-shadow: -4px -4px 4px #feffff, 4px 4px 4px #161b1d2f;
}
.checkbox-label .checkbox-custom::after{
    position: absolute;
    content:"";
    left:10px;
    top:10px;
    height:0px;
    width:0px;
    border-radius:5px;
    border:solid #635f5f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
}
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid #635f5f;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
    
  }
.titleofForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    margin-bottom: 12%;
}
.btnAdminGroup{
    width:100%;
    height: 38px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #3CB371;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    box-shadow: -5px -5px 8px #d8e2e6, 5px 5px 10px #2c313378;
    transition: 0.8s;
}
.btnAdmin{
    width:50%;
    height: 38px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #15a362;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    box-shadow: -5px -5px 8px #d8e2e6, 5px 5px 10px #2c313378;
    transition: 0.8s;
}
.btnAdmin:hover{
    background-color: #134830;
    color: white !important;
}
form{
    width: 100%;
}
.usersinAdminForm{
    position: relative;
    left: 40px;
    top: 3px;
    font-weight: bold;
    color: #494a4a;
    word-break: break-word;
}
.usersDisabled{
    position: relative;
    left: 40px;
    top: 3px;
    color:#635f5f;
    word-break: break-word;
    cursor: not-allowed;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #15a362;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
* {
    scrollbar-color: #15a362 #f5f6fe !important;
    scrollbar-width: thin !important;
}
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}


input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    padding: 2px;
    color: #000;
    left: 55px;
}
input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    padding: 2px;
    color: #000;
    left: 26px;
}
input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color: #000;
    padding: 2px;
    left: 4px;
}
.status{
    margin: 10px;
    width: 50%;
}
.check{
    margin: 10px;
    width: 30%;
}
.bordertwo{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 10px;
}
.btnAdminRemove{
    width:50%;
    height: 38px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #899791;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    box-shadow: -5px -5px 8px #d8e2e6, 5px 5px 10px #2c313378;
    transition: 0.8s;
}
.btnAdminRemove:hover {
    background-color: #3d4240;
    color: #ffffff;
}

.userTag {
    padding: 8px 12px;
    margin-right: 7px;
    margin-bottom: 5px;
    border: 1px solid #15a362;
    border-radius:10px;
}

.userTagRemove{
    color: black;
    font-weight: 700;
    cursor: pointer;
}