/* Define standard variables and values */

$blackColor: #000000;
$whiteColor: #ffffff;

$color1: #444444;
$color2: #858686;
$color3: #484848;
$color4: #494a4a;
$color5: #9ea0a0;
$color6: #8f8c8c;
$color7: #635f5f;
$color8: #b4b8b8;

$bgcolor1: #c0cad8;
$bgcolor2: #ecf0f3;
$bgcolor3: transparent;
$bgcolor4: #C8C8C8;
$bgcolor5: #3CB371;
$bgcolor6: #15a362;
$bgcolor7: #134830;
$bgcolor8: #899791;
$bgcolor9: #3d4240;
$bgcolor10: #f1f1f1;
$bgcolor11: #555555;
$bgcolor12: #f5f6fe;
$bgcolor13: #efefef;

$shadownColor1: #cbced1;
$shadownColor2: #feffff;
$shadownColor3: #161b1d2f;
$shadownColor4: #ffffffb3;
$shadownColor5: #ffffff80;
$shadownColor6: #ffffff13;
$shadownColor7: #00000026;
$shadownColor8: #d8e2e6;
$shadownColor9: #2c313378;