body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.border{
    display: flex;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.containerlog {
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-group{
    margin-top: 50px;
}

.login {
    height: 50vh;
    width: 50vh;
}

#root {
    height: 100vh;
}

.logoImg{
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
}

.loginform{
    width: 50%;
}

.title{
    font-weight: normal;
    color: #252930;
    font-weight: 600;
    text-align: center;
}

.form{
     height: 1.6rem;
     border-color: #e7e9ed;
     color: #5d6778;
     border-radius: 3px;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     width: 50%;   
}

.form:focus-visible{
    outline: 1px solid #0060df;
    border-radius: 3px;
}

.form{
    margin-top: 12%;
    display: block;
    width: 70%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.passform{
    height: 1.6rem;
    border-color: #e7e9ed;
    color: #5d6778;
    border-radius: 3px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.passform:focus-visible{
   outline: 1px solid #0060df;
   border-radius: 3px;
}

.passform{
   margin-top: 5%;
   display: block;
   width: 70%;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 0.25rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input:checked[type="checkbox"]{
    border-radius: 0.25em;
}
label {
    display: inline-block;
    font-size: .75rem;
}
.form-check{
    margin-left: 7%;
    margin-top: 2%;
}
.text-center {
    text-align: center !important;
}
/* button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.app-btn-primary {
    background: #15a362;
    color: #fff;
    border-color: #15a362;
}
.btn {
    font-weight: 600;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    border: none;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.w-100 {
    width: 76% !important;
    margin-top: 5%;
    border-radius: 3px;
}  */
.btnLogin {
    background: #15a362;
    color: #fff;
    border-color: #15a362;
    font-weight: 600;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 70% !important;
    margin-top: 5%;
    border-radius: 60px;
}

.windowImg{
    display: flex;
}
.imageform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkreg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3%;
}
/* ovo bi trebalo da je ok */
@media only screen and (max-width: 1200px) {
    .imageform{
        width:60%;
    } 
    .windowImg{
        width:600px;
        height: 320px;
    }
    form.login{
        width:80%;
   }
}



@media only screen and (max-width: 1100px) {
    form.login{
        width:600px;
   }
    .imageform{
        width:60%;
    } 
    .windowImg{
        width:580px;
    }
  
}

@media only screen and (max-width:1000px) {
    .imageform{
        width: 50%;
    } 
    .windowImg{
        width:500px;
    } 
   form.login{
       height: 1.6rem;
       
       width: 50%;
  }
 #fname.form{
    margin: 10px 60px 0;
  }
}
@media only screen and (max-width:792px) {
    .border{
        display: flex;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
        flex-direction:column;
        height: 40rem;
    }
    form.login{
        width: 100%;
   }
   .imageform{
    position: relative;
    top: 40%; 
    width:100%;
   }
    .windowImg{
        width:500px;
    } 

  
 
}


@media only screen and (max-width:540px) {
   
   
    .border{
        display: flex;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
        flex-direction:column;
        /* height: 600px; */
        width: 400px;
    }
   .imageform{
    position: relative;
    top: 45%; 
    /* left: 5%; */
    /* width:400px; */
   }
    .windowImg{
        width:400px;
    } 
  
  
 
}

@media only screen and (max-width:420px) {
    .containerlog{
        width: 100%;
    }
   
    .border{
        display: flex;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
        flex-direction:column;
        width: 350px;
    }
   .imageform{
    position: relative;
    top: 40%; 
    /* width:280px; */
   }
    .windowImg{
        width:300px;
    } 

  
 
}
@media only screen and (max-width:330px) {
    .containerlog{
        width: 100%;
    }
   
    .border{
        display: flex;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
        flex-direction:column;
        width: 350px;
    }
   .imageform{
    position: relative;
    top: 40%; 
    /* width:280px; */
   }
    .windowImg{
        width:300px;
    } 

    form.login{
        width: 100%;
   }
    /* .passform{
        width: 100%;
        margin: 15px 10px;
    } */

  
 
}



@media only screen and (max-width:310px) {
    .containerlog{
        width: 100%;
    }
    h2{
        font-size: 15px;
    }
    .border{
        display: flex;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
        flex-direction:column;
        width: 400px;
    }
   .imageform{
    position: relative;
    top: 40%; 
   }
    .windowImg{
        width:240px;
    } 

    form.login{
        width: 100%;
   }
 
}
@media only screen and (max-width:250px) {
    .windowImg{
        width:190px;
    } 

}








