.previewCheckUsers{
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
    border: none;
    width: 100%;
    overflow: auto;
    height: 110px;
    padding: 15px;
    margin-bottom: 10px;
}
.border{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.border::first-letter {
    font-size: large;

}